.apresentacao-planos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.apresentacao-titulo {
    font-size: 1.875rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    text-align: center;

    padding-bottom: .625rem;
    border-bottom: 3px solid var(--secondary-color);
}

.apresentacao-texto {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: var(--black-color);

    padding-top: .625rem;
}

/*---------- Seção para os cards dos planos ----------*/

#planos {
    background: var(--black-color);
    padding: 50px 0;
}

.planos-titulo {
    font-size: 1.875rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--primary-color);

    text-align: center;

    padding-top: 3.125rem;
    padding-bottom: .625rem;

    border-bottom: 3px solid #81B3FF;
}

.planos-texto {
    font-size: 1.25rem;
    color: var(--white-color);

    text-align: center;

    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
}

.planos-mobile {
    padding: 2.5rem 0;
}

details {
    margin: 1.25rem 0;
}

summary {
    background: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--secondary-color);

    max-width: 350px;

    padding: .625rem;

    border-radius: 10px;
}

.sumario-card-icone {
    width: 20%;
    padding-right: 15px;
}

.planos-card-mobile {
    background: var(--white-color);
    text-align: center;
}

.planos-card-titulo {
    font-size: 1.875rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--primary-color);
    
    padding-top: 1.5rem;
    padding-bottom: .625rem;
}

.planos-card-titulo-secundario {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary-color);

    padding-bottom: 1.25rem;
}

.planos-card-subtitulo {
    font-weight: 700;
    font-style: italic;
    text-align: center;

    padding: 0 1.25rem;
}

.card-box-mobile {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
}

.planos-card-icone {
    width: 15%;
    padding-right: .625rem;
}

.planos-card-texto {
    font-size: 1.25rem;
    color: var(--black-color); 
    text-align: start;
}

.btn-plano {
    width: 100%;
}

/*---------- Seção para os cards dos planos DESKTOP ----------*/

.planos-desktop {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.planos-desk-box {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 310px;

    background: #fff;
    border-radius: .625rem;
}

.planos-titulo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: .625rem; 

    width: 100%;
    padding: 1.25rem;    
}

.planos-desk-icone {
    width: 40px;
    margin-right: .625rem;
}

.planos-desk-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--black-color);
}

.planos-desk-subtitulo {
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.cards-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding: 0 .625rem;
}

.cards-box-desktop {
    display: flex;
    align-items: flex-start;
    padding: 0 .625rem;
}

.cards-desk-icone {
    width: 30px;
    padding-right: 5px;
}

.cards-desk-texto {
    font-size: 1.25rem;
    color: var(--black-color); 
    text-align: start;
}

@media screen and (max-width:1019px) {
    .planos-desktop {
        display: none;
    }
}

@media screen and (min-width:1020px) {
    .planos-mobile {
        display: none;
    }

    .planos-desktop {
        display: flex;
    }
}