:root {
    --primary-color:#5B9CFD;
    --secondary-color: #81B3FF;
    --black-color: #5E4F4F;
    --white-color: #FFFFFF;
    --font-secondary: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.navbar-campo {
    background: var(--primary-color)!important;
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links {
    padding-left: 5rem;
}

.titulo-logo {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.5rem;
}

.titulo-logo:hover {
    color: var(--black-color)!important;
}


.texto-link {
    font-size: 1.25rem;
}

.texto-link:hover {
    color: var(--black-color)!important;
}

.login {
    font-weight: 700;
}

.login:hover {
    color: var(--black-color)!important;
}

main {
    padding-top: 2.75rem;
}

.botao {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0px !important;

    font-size: 1.125rem;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5rem;
    cursor: pointer;

    display: block;
    text-align: center;
    margin: 1.25rem 0;
    padding: .625rem 0;
    width: 18.75rem;
    
    transition: background .3s linear;
}

.botao:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
}

.botao:active {
    transform: scale(0.95);
}